---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navigation/>
		<h1>我的第一篇博客</h1>
		<ul>
			<li><a href="/post/post-1/">文章 1</a></li>
			<li><a href="/post/post-2/">文章 2</a></li>
			<li><a href="/post/post-3/">文章 3</a></li>
		</ul>
		<Footer/>
	</body>
</html>