---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = Object.values(import.meta.glob('./post/*.md', { eager: true }));
const pageTitle = "湛玖的博客";

---
<BaseLayout pageTitle={pageTitle}>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<ul>
			{allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>
	</body>
</html>
</BaseLayout>