---
import Navigation from './Navigation.astro';
import Hamgurger from './Hamberger.astro';
---
<header>
 <nav>
    <Hamgurger/>
    <Navigation/>
 </nav>

</header>


<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>